### EDUCATION	
					
- Graduated 2010 from UW–Madison with two B.Sc. degrees in both Art and Computer Science.
- Graduated from Mukwonago High School in 2005 and volunteered as a TA for Java senior year.
